useDynLib(fplot, .registration = TRUE)


# Main plotting functions
export(plot_distr, plot_lines, plot_box)
export(setFplot_dict, getFplot_dict)

# Export figures
export(setFplot_page, pdf_fit, png_fit, bmp_fit, tiff_fit, jpeg_fit, fit.off)



# IMPORTS

import(data.table)
import(Rcpp)
import(dreamerr)

importFrom("graphics", "abline", "axis", "barplot", "box", "grid",
             "legend", "lines", "par", "plot", "points", "polygon",
             "rect", "segments", "strheight", "strwidth", "text",
             "title")
importFrom("stats", "lm", "median", "quantile", "sd", "formula", "na.omit", "var")
importFrom("utils", "head", "tail")
importFrom("Formula", "Formula")
importFrom("grDevices", "pdf", "png", "jpeg", "bmp", "tiff")




