useDynLib(fplot, .registration = TRUE)


# Main plotting functions
export(plot_distr, plot_lines, plot_box)

# Export figures
export(pdf_fit, png_fit, bmp_fit, tiff_fit, jpeg_fit, fit.off)
export(export_graph_start, export_graph_end)

# setters & getters
exportPattern("^(s|g)etFplot")



# IMPORTS

import(data.table)
import(Rcpp)
import(dreamerr)

importFrom("graphics", "abline", "axis", "barplot", "box", "grid",
             "legend", "lines", "par", "plot", "points", "polygon",
             "rect", "segments", "strheight", "strwidth", "text",
             "title")
importFrom("stats", "lm", "median", "quantile", "sd", "formula", "na.omit", "var", "as.formula", "terms", "update")
importFrom("utils", "head", "tail")
importFrom("Formula", "Formula")
importFrom("grDevices", "pdf", "png", "jpeg", "bmp", "tiff", "dev.off")




